#chat-window {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.message {
    display: inline-block;
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.4;
}

.user-message {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 10px;
    text-align: right;
}

.bot-message {
    background-color: #eee;
    border: 1px solid #ddd;
    margin-left: 10px;
    text-align: left;
}

#input-container {
    display: flex;
    margin-bottom: 20px;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#send-button {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}


.stock-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.stock-button:hover,
.stock-button:active {
    background-color: #0062cc;
}


.perception-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}


.perception-button:hover,
.perception-button:active {
    background-color: #0062cc;
}

.price-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}


.price-button:hover,
.price-button:active {
    background-color: #0062cc;
}

.risk-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}


.risk-button:hover,
.risk-button:active {
    background-color: #0062cc;
}

#logout-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

table,
th,
td {
    border: 1px solid black;
}