<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', _template='templates') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='app.js', _template='templates') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>

</head>

<h1 style="text-transform: capitalize;"> Welcome {{ user }} to the Chatbot! </h1>
<button id="logout-button">Log out</button>
<div id="chat-window"></div>
<div id="input-container">
    <input id="user-input" type="text" placeholder="Type your message here" />
    <button id="send-button" type="button">Send</button>
</div>
<div id="button-container">
    <h2>What is your risk tolerance?</h2>
    <button class="risk-button" type="button" value="high">High</button>
    <button class="risk-button" type="button" value="low">Low</button>
    <h2>Get Stock Prices</h2>
    <div id="button-container">
        <button class="price-button" type="button" value="AAPL">Apple</button>
        <button class="price-button" type="button" value="TSLA">Tesla</button>
        <button class="price-button" type="button" value="MSFT">Microsoft</button>
        <button class="price-button" type="button" value="NVDA">NVIDIA</button>
        <button class="price-button" type="button" value="GOOGL">Google</button>
    </div>
    <h2>Get Changes in Stock Prices</h2>
    <div id="button-container">
        <button class="stock-button" type="button" value="AAPL">Apple</button>
        <button class="stock-button" type="button" value="TSLA">Tesla</button>
        <button class="stock-button" type="button" value="MSFT">Microsoft</button>
        <button class="stock-button" type="button" value="NVDA">NVIDIA</button>
        <button class="stock-button" type="button" value="GOOGL">Google</button>
    </div>

    <h2>Find Out the Public Perception of Companies</h2>
    <div id="button-container">
        <button class="perception-button" type="button" value="apple">Apple</button>
        <button class="perception-button" type="button" value="tesla">Tesla</button>
        <button class="perception-button" type="button" value="microsoft">Microsoft</button>
        <button class="perception-button" type="button" value="nvidia">NVIDIA</button>
        <button class="perception-button" type="button" value="google">Google</button>
        <h2>What does the perception analysis mean?</h2>
        <table>
            <tr>
                <th>Public Perception</th>
                <th>Analysis</th>
            </tr>
            <tr>
                <td>Positive</td>
                <td>A high positive public perception is a good indication that this company has not had much negative
                    press
                    recently. This is a good indication that it may be suitable for short term investing, though you
                    should
                    conduct further research!</td>
            </tr>
            <tr>
                <td>Negative</td>
                <td>A high negative public perception indicates that this company has had larger amounts of negative
                    press,
                    and should be avoided, as this may negatively affect its stock prices.</td>
            </tr>
            <tr>
                <td>Neutral</td>
                <td>Neutral negative perception is neither good nor bad, however, it is an indication that the companies
                    are
                    still relevant as they are being brought up in the news.</td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>

</html>