<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css', _template='templates') }}">
</head>

<body>
    <div id="login-container">
        <h1>Welcome Fintellitech Employee!</h1>
        <p>Please select an option:</p>
        <div id="button-container">
            <a href="/login"><button id="login-button" type="button">Log In</button></a>
            <a href="/register"><button id="register-button" type="button">Register</button></a>
        </div>
    </div>
</body>

</html>