<!DOCTYPE html>
<html>

<head>
    <title>Face Recognition Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css', _template='templates') }}">
</head>

<body>
    <h1>Face Recognition</h1>
    <button id="login-button">Login</button>
    <p id="login-message"></p>
    <script>
        $(document).ready(function () {
            $('#login-button').on('click', function () {
                $.ajax({
                    url: '/authenticate',
                    type: 'POST',
                    success: function (response) {
                        if (response.success) {
                            // Redirect to chat.html with the user as a query parameter
                            alert("User " + (response.user) + " successfully logged in!");
                            window.location.href = '/chatbot?user=' + encodeURIComponent(response.user);
                        } else {
                            $('#login-message').text(response.message);
                        }
                    }
                });
            });
        });
    </script>


</body>

</html>