<!DOCTYPE html>
<html>

<head>
	<title>Register</title>
	<script type="text/javascript"
		src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=vjUjfODJDSBiQUSP5t13LRf1fnbRiNwjOwYYPRnxHZD1z92EIfIGmfEDnPr1DslXdtEn6zDszuhnq5vvnDLYhsrl8sReHHs3Nlz7-eVOQVovWPkSLeYiNokzc4zKMuVq1jsXd_mesuvXmtsQ9J5amz2GBAVa0HpmXBZCkN1sFVc-01F-dM6gprDzQoSXKsavePFzM3JZ4htPSjudhM7p1Vc6fGmq9iiiNKWiHTGiitg"
		charset="UTF-8"></script>
	<link rel="stylesheet" crossorigin="anonymous"
		href="https://ff.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jYWxlZG9uaWFuYWMtbXkuc2hhcmVwb2ludC5jb20vcGVyc29uYWwvYW1hbnNvMjAwX2NhbGVkb25pYW5fYWNfdWsvX2xheW91dHMvMTUvZG93bmxvYWQuYXNweD9VbmlxdWVJZD05MWUyZGVkYy03ZmUwLTQ3MDAtODJiYS1jZTJkZmViZjQyZGQ" />
</head>

<body>
	<h1>Register</h1>
	<form method="post" action="/register">
		<label for="name">Name:</label>
		<input type="text" name="name" id="name">
		<button type="submit">Register</button>
	</form>
</body>

</html>